<!DOCTYPE html>
<html>
<head>
    <title>Movie List</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>Movies</h1>
    <div class="bt">
        <a href="/watchlist" class="btn">watchlist</a>
    </div>
    <table class="my-table">
        <thead>
            <tr>
                {% for col in column_names %}
                    <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in movies %}
            <tr>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>