<!DOCTYPE html>
<html>
<head>
    <title>WatchList</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>Movies</h1>
    <table class="my-table">
        <thead>
            <tr>
                {% for col in column_names %}
                    <th>{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in movies %}
            <tr>
                {% for col, cell in zip(column_names, row) %}
                    <td>
                        {% if col == 'poster_url' %}
                            <img src="{{ cell }}" alt="Hello this is a test" width="100">
                        {% else %}
                            {{ cell }}
                        {% endif %}
                    </td>
                {% endfor %}
                <td>
                    <form action="{{ url_for('movies.remove_from_watchlist') }}" method="post">
                        <input type="hidden" name="movie_id" value="{{ row[0] }}">
                        <button type="submit">Remove</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>